*bak
*.log
.coverage

# Envs
venv*/

# Caches
__pycache__/
.*_cache/

# Build artifacts
build/
dist/
*.egg-info/
docs/biodm/
*.tgz
wheel/

# Internal
*.cnag*

# Server
server/scripts/cxg_on_k8
*.pem

# Client
client/src/client

# Dependency directories
client/node_modules/

# Sveltekit outdir
client/.svelte-kit

# Gen


# Optional eslint cache
.eslintcache


